<div class="left-sidebar" id="left-sidebar" role="navigation">
    <a href="#" id="left-userlist-toggle-button" role="button" style="margin-left:10px">
        All msgs, PMs, drafts & more &raquo;
    </a>
    <div class="narrows_panel">
        <div id="streams_list" class="zoom-out">
            <div id="streams_header" class="zoom-in-hide"><h4 class="sidebar-title" data-tippy-content="{{t 'Filter streams' }} (q)">{{t 'Streams list' }}</h4>
                <span class="tippy-zulip-tooltip streams_inline_cog_wrapper hidden-for-spectators" data-tippy-content="{{t 'Add streams' }}">
                    <i id="streams_inline_cog" class='fa fa-plus' aria-hidden="true" ></i>
                </span>
                <i class="streams_filter_icon fa fa-filter tippy-zulip-tooltip" aria-hidden="true" data-tippy-content="{{t 'Filter streams' }} (q)"></i>
                <div class="input-append notdisplayed stream_search_section">
                    <input class="stream-list-filter home-page-input" type="text" autocomplete="off" placeholder="{{t 'Filter streams' }}" />
                    <button type="button" class="btn clear_search_button" id="clear_search_stream_button">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div id="topics_header">
                <a href="" class="show-all-streams"> <i class="fa fa-chevron-left" aria-hidden="true"></i>{{t 'Back to streams' }}</a>
            </div>
            <div id="stream-filters-container" class="scrolling_list" data-simplebar>
                <ul id="stream_filters" class="filters"></ul>
            </div>
            {{#unless is_guest }}
            <div id="add-stream-link" style="display:none">
                <a href="#streams/all"><i class="fa fa-plus-circle" aria-hidden="true"></i>{{t 'Subscribe to more streams' }}</a>
            </div>
            {{/unless}}
        </div>
    </div>
</div>
